/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    html, body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    #main_container {
        width: 100%;
        height: auto;
    }
    #main_container div.card {
        width: 500px;
        color: #fff;
        position: relative;
        top: 3rem;
        background: #FF204E;
        border-radius: 1rem;
        box-shadow: 15px 15px 4px 5px rgba(0, 0, 0, 0.25);
    }
    #container #sobre_mim div.card .card-body {
        display: grid;
        grid-template-columns: 75% 25%;
    }
    #profile_pic {
        position: relative;
        top: 3.5rem;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        overflow: hidden;
        outline: 1px solid green;
    }
    #container div.card p {
        font-size: 1rem;
        padding-right: 1rem;
    }
    #main_container .card {
        max-height: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1201px) {

}
