/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    html, body {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    main {
        width: 100%;
    }
    h1 {
        color: #fff;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        letter-spacing: 0.25rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    #top_nav div p {
        display: none;
    }
    #profile_pic {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #profile_pic img {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }
    #main_container .sobre_mim div.card .card-body {
        display: block !important;
    }
    #main_container div.card {
        top: 0;
        max-height: none;
        margin-bottom: 4rem;
    }
    #main_container .sobre_mim div.card .card-body {
        display: grid;
        grid-template-columns: 75% 25%;
    }
    #main_container .sobre_mim div.card p {
        padding-right: 1rem;
    }
    .sobre_mim, .conhecimentos, .projetos {
        height: auto;
    }
    /*container de navegacao*/
    #main_container {
        display: block;
        width: 100%;
        height: 100%;
        transition: 500ms ease;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) {
    h1 {
        display: none;
    }
    #main_container div.card {
        top: 3rem;
        max-height: 800px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 769px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1201px) {

}