/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html, body {
        overflow: hidden;
        height: 100%;
    }
    main {
        height: 100dvh;
    }
    h1 {
        display: none;
    }
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }
    main #main_container {
        display: flex;
        width: 300%;
        position: relative;
        top: 3rem;
        height: 100%;
    }
    #main_container div.card {
        min-height: none;
        height: 100%;
    }
    #profile_pic {
        width: 250px;
        height: 250px;
    }

    #logos img {
        width: 96px;
        height: auto;
    }
    header {
        top: 0;
        height: 4.5rem;
    }
    header nav div p {
        display: none;
    }
    #main_container #conteudo_sobre_mim div.card .card-body {
        grid-template-rows: 1fr auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header {
        height: 5rem;
    }
    header nav div ul li:hover {
        transform: scale(1.1);
    }
    header nav div ul li button {
        letter-spacing: 0.125rem;
    }
}
@media (min-width: 679px) {
    #profile_pic {
        width: 250px;
        height: 250px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header nav div ul li a {
        letter-spacing: 0.25rem;
    }
    #main_container #conteudo_sobre_mim div.card .card-body {
        grid-template-columns: 70% 30%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}