/* animações e propriedades customizadas */
:root {
    --azul: hsl(250, 100%, 50%);
    --azul-escuro: hsl(250, 80%, 10%);
    --azul-medio: hsl(250, 80%, 15%);
    --rosa: hsl(300, 100%, 50%);
    --max-width: 1000px;

    --p-color: hsl(220, 20%, 70%);
    --branco: #f8f9fa;
}
@property --angulo {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes rodar {
    from {
        --angulo: 0deg;
    }
    to {
        --angulo: 360deg;
    }
}
@keyframes carregando_conteudo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* planos de fundo e viewport */
html {
    background: var(--azul-escuro);
    overscroll-behavior: none;
}
body {
    background: url("content/img/jp_03.svg") repeat, linear-gradient(135deg, var(--azul-medio), var(--azul-escuro));
    font-size: 125%;
    height: 100%;
}
#home {
    height: 100svh;
}

/* cabeçalho principal (navegação) */
header > div.fixed-top {
    height: 100px;
    color: var(--branco);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
header nav {
    max-width: var(--max-width);
    background-color: hsla(250, 100%, 10%, 0.5);
    margin: 0 auto;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}
header nav li a {
    position: relative;
}
header nav li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 0;
    height: 2px;
    background-color: var(--rosa);
    transition: width 100ms ease;
}
header nav li a:not(.active):hover::after {
    width: 100%;
}
#container_foto img {
    width: 100%;
    max-width: 70px;
    border-radius: 100%;
    outline: 1px solid hsl(250, 80%, 20%);
}
#botao_tema {
    padding: 0;
    margin: 0;
    color: var(--branco);
    background: none;
    border: none;
}
#botao_tema i {
    font-size: 2rem;
}
/* titulo principal da pagina */
#container_h1 {
    transition: box-shadow 500ms ease-in-out;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    padding: 0.5rem;
    position: relative;
    border-radius: 0.5rem;
    z-index: 1;
}
#container_h1 > div {
    background: hsl(250, 80%, 20%);
    padding: 1.5rem;
    border-radius: 0.5rem;
}
#container_h1::after, #container_h1::before {
    content: "";
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 0.5rem;
    background-image: conic-gradient(from var(--angulo), transparent 80%, var(--azul), var(--rosa));
    z-index: -1;
    animation: rodar 3s cubic-bezier(0, 0, 0, 0) infinite;
}
#container_h1::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}
.branco {
    color: var(--branco);
}
.active {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* cabeçalhos de texto e paragrafos */
h1, h2, h3, div.small {
    color: var(--branco);
}
h1 {
    font-size: 3.25rem;
}
h2 {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}
h3 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    font-weight: 100;
    font-style: italic;
    text-transform: uppercase;
}
p {
    color: var(--p-color);
    margin-bottom: 0.75rem;
    font-weight: 300;
    padding: 0 1rem;
}
div p:last-of-type {
    margin-bottom: 0;
}

/* container principal e padrões */
main {
    max-width: var(--max-width);
    margin: 0 auto;
}
main > section {
    padding-top: 6rem;
}
main > section img {
    border-radius: 0.75rem;
    box-shadow: 0px 0px 10px 5px var(--azul-escuro);
}

/* seção conhecimentos */
#conhecimentos i {
    font-size: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}
#conhecimentos div:has(img) img {
    width: 100%;
    max-width: 96px;
    border: none;
    box-shadow: none;
}
.logo_p_fix {
    padding: 8px;
}

/* seção de projetos */
#projetos article {
    margin-bottom: 2.5rem;
}
#projetos a {
    color: hsl(300, 100%, 50%);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
#projetos a:hover {
    color: hsl(250, 100%, 50%);
}
#projetos img {
    width: 100%;
}
#projetos article {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width: 100%;
    row-gap: 1rem;

    background: hsla(200, 80%, 60%, 0.04);
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    padding: 1rem;
}
#projetos article div:has(p) {
    grid-row: 1;
}
#projetos article div:has(img) {
    grid-row: 2;
}
#projetos article div.small {
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 100;
}

/* mediaqueries */
/* mediaqueries para adequar o tamanho do h1 */
@media (max-width: 406px) {
    h1 {
        font-size: 2.75rem;
    }
}
@media (min-width: 407px) {
    h1 {
        height: max-content;
        font-size: 3.25rem;
    }
}
@media (min-width: 515px) {
    h1 {
        font-size: 4.3rem;
    }
}
@media (min-width: 664px) {
    h1 {
        font-size: 5.5rem;
    }
}
@media (min-width: 827px) {
    h1 {
        font-size: 6rem;
    }
}
@media (min-width: 898px) {
    h1 {
        font-size: 6.5rem;
    }
}
@media (min-width: 964px) {
    h1 {
        font-size: 7rem;
    }
}
/* mediaquerie para aparelhos abaixo de md */
@media (max-width: 767.98px) {
    @supports (backdrop-filter: blur()) {
        header > div.fixed-top {
            -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
        }
        header nav {
            -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
        }
    }
}
/* mediaquerie md (principal mudança no layout) */
@media (min-width: 768px) {
    @supports (backdrop-filter: blur()) {
        header nav {
            -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
            background-color: hsla(250, 100%, 10%, 0.04);
        }
    }
    body {
        font-size: 150%;
    }
    #projetos article {
        grid-template-rows: 250px auto;
        max-width: 351px;
    }
}
/* mediaquerie para lg */
@media (min-width: 992px) {
    #projetos article {
        grid-template-rows: 288px auto;
        max-width: 309px;
    }
}
/* mediaquerie para xl */
@media (min-width: 1200px) {
    h1 {
        font-size: 7rem;
        height: 230.4px;
        height: 100%;
    }
    #projetos article {
        max-width: 322px;
    }
}