/*** <inicio> reset e criar viewport
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}
/*** </fim>
*/

/*** <inicio> background e cores
*/
html {
    background: #00224D /*hsl(275.29, 100%, 0%, 0.5)*/;
}
body {
    background: url("img/noise.png") /*linear-gradient(135deg, hsl(257.18, 100%, 50%) -40%, hsl(314.59, 100%, 50%))*/;
    color: #ccc;
}
/*** </fim>
*/

/*** <inicio> cabecalho e barra de navegação principal
*/
header {
    background: #5D0E41;
    width: 100%;
    position: fixed;
    z-index: 1;

    border-top: 4px ridge #FF204E;
    border-bottom: 4px ridge #FF204E;

    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.4);
    transition: 300ms ease;
}
header.neon-effect {
    box-shadow:
      0 0 7px #fff,
      0 0 15px #fff,
      0 0 21px rgb(5, 0, 255),
      0 0 42px rgb(10, 0, 255),
      0 0 82px rgb(20, 0, 255),
      0 0 92px rgb(30, 0, 255),
      0 0 102px rgb(40, 0, 255),
      0 0 151px rgb(50, 0, 255);
      transition: 300ms ease;
}
#top_nav ul {
    margin-left: 0 !important;
}
#top_nav ul li {
    border-radius: 0.5rem;
    transition: 200ms ease-in-out;
}
#top_nav ul li:has(button):hover {
    border: 1px solid #00fff9;
    transform: scale(1.1);
}
#top_nav ul li button a {
    text-decoration: none;
    color: inherit;
}
#top_nav div p {
    padding: 0.75rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: 0.25rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 200ms ease;
}
#top_nav div p:hover {
    color: #FF204E;
}
#top_nav ul li button {
    background: none;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    letter-spacing: 0.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #00b8ff;
}
#top_nav ul button:hover {
    color: #00fff9;
}
nav {
    height: 100%;
}
/*** </fim>
*/

/*** <inicio> conteudo principal
*/
main {
    width: 100%;
    height: 100dvh;
}
h2 {
    font-size: 3rem;
}
p {
    font-size: 1.5rem;
}

#main_container div.card {
    color: #fff;
    position: relative;
    top: 3rem;
    /*max-height: 800px;*/
    background: #FF204E;
    border-radius: 1rem;
    box-shadow: 15px 15px 4px 5px rgba(0, 0, 0, 0.25);
}
#main_container .sobre_mim div.card .card-body {
    display: grid;
    grid-template-columns: 75% 25%;
}
#profile_pic {
    display: flex;
    width: 250px;
    height: 250px;
    align-self: center;
    justify-self: center;
    border-radius: 100%;
    overflow: hidden;
}
#profile_pic img {
    width: 100%;
    height: 100%;
}
#main_container .sobre_mim div.card p {
    padding-right: 1rem;
}
#main_container .container-md {
    height: auto;
}
.sobre_mim, .conhecimentos, .projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.sobre_mim p:last-of-type, .conhecimentos p:last-of-type, .projetos p:last-of-type {
    margin-bottom: 0;
}
/*container de navegacao*/
#main_container {
    display: flex;
    position: relative;
    right: 0%;
    width: 300%;
    height: 100%;
    transition: 500ms ease;
}

/*** </fim>
*/

.fa-html5 {
    color: orange;
}
.fa-css3-alt {
    color: lightseagreen;
}
.fa-square-js {
    color: yellow;
}
.fa-php {
    color: purple;
}
.conhecimentos i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 20rem;
    font-size: 5rem;
}