@font-face {
    font-family: "Lalezar";
    src: url("/public/fonts/Lalezar-Regular.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Tilt-Warp";
    src: url("/public/fonts/TiltWarp-Regular-VariableFont_XROT\,YROT.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat-VariableFont_wght.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Fragment-mono";
    src: url("/public/fonts/FragmentMono-Regular.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Cascadia-Code";
    src: url("/public/fonts/CascadiaCode-VariableFont_wght.woff2");
    font-display: swap;
}
