:root {
    font-family: Roboto, sans-serif;

    --c-white: hsl(0, 0%, 90%);
    --c-dark: hsl(0, 0%, 15%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html {
    overscroll-behavior: none;
}
body {
    background: var(--c-dark);
    color: var(--c-white);
    height: 100dvh;
    overflow-x: hidden;
}
body > * {
    overflow-y: scroll;
    position: fixed;
    width: calc(100% - 4rem);
    max-width: 600px;
    left: 50%;
    translate: -50%;
}
header {
    text-align: center;
    position: fixed;
    position: absolute;
    top: 15%;
}
header h1 {
    padding: 1rem 0;
    font-size: 3em;
}
header p {
    font-size: 1.5em;
    padding: 0 0.5rem;
}

main {
    width: 100%;
    position: absolute;
    bottom: 10%;
    display: flex;
}

#container_botoes {
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    margin: 0 auto;
}
#container_botoes button {
    font-size: 2em;
    padding: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 2px solid var(--c-white);
    
    background: var(--c-dark);
    color: var(--c-white);
}
#container_botoes button:hover {
    background: var(--c-white);
    color: var(--c-dark);
}

button#continuar.desativado {
    color: hsl(0, 0%, 40%);
    border: 2px solid hsl(0, 0%, 40%);
}
button#continuar.desativado:hover {
    color: hsl(0, 0%, 40%);
    border: 2px solid hsl(0, 0%, 40%);
    background: none;
    cursor: default;
}
