@import url("index.css");
@keyframes acertou_mensagem {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes pop {
    0% {
        scale: 1;
        rotate: 0deg;
    }
    25% {
        rotate: 5deg;
    }
    50% {
        scale: 1.1;
        rotate: 0deg;
    }
    75% {
        rotate: -5deg;
    }
    100% {
        scale: 1;
        rotate: 0deg;
    }
}
@keyframes fade_in {
    0% {
        opacity: 0;
        translate: -100% 20%;
    }
    50% {
        translate: -50% 20%;

        opacity: 1;
    }
    100% {
        translate: -50% 20%;

        opacity: 1;
    }
}
@keyframes fade_out {
    0% {
        translate: -50% 20%;
        opacity: 1;
    }
    100% {
        opacity: 0;
        translate: 50% 20%;
    }
}

body > * {
    width: calc(100% - 4rem);
    max-width: 600px;
    left: 50%;
    translate: -50% 0%;
}
header {
    translate: -50% -100%;
    display: flex;
    flex-direction: column;
}
main {
    position: absolute;
    translate: -50% 0%;
    bottom: 2rem;
    display: grid;
    row-gap: 1rem;
    align-content: center;
}

#hangman {
    position: relative;
    translate: 0% 22%;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
}
#hangman img {
    height: 90%;
    width: 100%;
    max-width: 500px;
    animation: pop 250ms ease-in-out;
}

#letras_usadas {
    border: 2px solid var(--c-white);
    border-radius: 0.5rem;
    width: 100%;
    padding: 0 1rem;
    min-height: 65px;
    display: flex;
    flex-direction: column;
}
#letras_usadas > span {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    line-break:anywhere;
}
#tem {
    color: hsl(130, 90%, 30%);
}
#nao_tem {
    color: hsl(10, 90%, 30%);
}

.ganhou, .perdeu {
    text-align: center;
    position: absolute;
    top: 0;
    translate: -50% 20%;
    height: 130px;
    font-size: 1.5em;

    border-radius: 1rem;
    padding: 1rem;

    animation: fade_in 1500ms ease-in-out;
}
.ganhou h3, .perdeu h3 {
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}
.ganhou {
    background: hsl(130, 90%, 30%);
}
.perdeu {
    background: hsl(10, 90%, 30%);
}
.pop {
    animation: pop 500ms ease-in-out;
}

#espaco_letras {
    font-size: 2rem;
    font-family: monospace;
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 0.5rem;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5rem;
}
#espaco_letras div {
    display: inline-block;
    width: max-content;
    border-bottom: 1px solid var(--c-white);
}
div:has(#voltar) {
    position: absolute;
    translate: -50% 50%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#voltar {
    font-size: 1.25rem;
    width: 3rem;
    height: 3rem;
    background: none;
    border: 2px solid var(--c-white);
    color: var(--c-white);
    border-radius: 0.5rem;
}
#voltar:hover {
    background: var(--c-white);
    color: var(--c-dark);
    border: 2px solid var(--c-dark);
}
#container_alfabeto {
    font-family: monospace;
    width: 100%;
    row-gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
}
#container_alfabeto button {
    width: 3rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    background: var(--c-white);
    cursor: pointer;
    border: none;
}