/**
    root e normalize basico
**/
:root {
    --color-dark: hsl(0, 0%, 15%);
    --color-dark-deactivated: hsl(0, 0%, 15%);
    --color-light-deactivated: hsl(0, 0%, 40%);
    --color-light: hsl(0, 0%, 85%);
    font-family: sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**
    animacoes
**/
@keyframes acertou_mensagem {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes pop {
    0% {
        scale: 1;
        rotate: 0deg;
    }
    25% {
        rotate: 5deg;
    }
    50% {
        scale: 1.1;
        rotate: 0deg;
    }
    75% {
        rotate: -5deg;
    }
    100% {
        scale: 1;
        rotate: 0deg;
    }
}
@keyframes fade_in {
    0% {
        translate: -100% 20%;
        opacity: 0;
    }
    50% {
        translate: -50% 20%;
        opacity: 1;
    }
    100% {
        translate: -50% 20%;
        opacity: 1;
    }
}
@keyframes fade_out {
    0% {
        translate: -50% 20%;
        opacity: 1;
    }
    100% {
        opacity: 0;
        translate: 0% 20%;
    }
}

/**
    elementos padrao
**/
html {
    background: var(--color-dark);
    overscroll-behavior: none;
}
body {
    color: var(--color-light);
    height: 100dvh;
}
body > * {
    width: clamp(335px, 90%, 550px);
    margin: 0 auto;
}
header {
    height: 30dvh;
}
header h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 6rem 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 100;
}
header p {
    text-align: end;
    font-size: 1.5rem;
    text-transform: uppercase;
}
main {
    height: 70dvh;
}
/**
    estilo referente a pagina inicial
**/

#pagina_inicial header {
    border-radius: 0.5rem 0.5rem 0 0;
}
#pagina_inicial #container_botoes {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
}
#pagina_inicial #container_botoes button {
    font-size: 2rem;
    height: 6rem;
    background: none;
    border: 2px solid var(--color-light);
    border-radius: 0.5rem;
    color: var(--color-light);
    text-transform: uppercase;
}
#pagina_inicial #container_botoes button:hover:not(.desativado) {
    background: var(--color-light);
    color: var(--color-dark);
    transition: 50ms ease;
}
#pagina_inicial #container_botoes button.desativado {
    background: var(--color-dark-deactivated);
    border: 2px solid var(--color-light-deactivated);
    color: var(--color-light-deactivated);
}

/**
    estilo referente a pagina de jogo
**/
#jogo div:has(#voltar) {
    height: 10dvh;
    display: flex;
    justify-content: space-between;
}
#jogo div:has(#voltar) > button {
    font-size: 2.5rem;
    height: 3.5rem;
    width: 3.5rem;
    border: 2px solid var(--color-light);
    border-radius: 0.5rem;
    background: var(--color-light);
    color: var(--color-dark);
    transition: 100ms ease;
    display: flex;
    align-self: center;
    justify-content: center;
    line-height: 2.6rem;
}
#jogo div:has(#voltar) > button:hover {
    background: none;
    color: var(--color-light);
}
#jogo div:has(#voltar) > span {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    display: flex;
    align-self: center;
}

#jogo header {
    height: 10dvh;
    background: hsl(200, 20%, 50%);
    border-radius: 0.5rem 0.5rem 0 0;
}
#jogo header h2 {
    padding: 2rem 0;
    text-align: center;
}
#jogo main {
    height: 80dvh;
}
#jogo #hangman {
    height: 35%;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    background: hsl(200, 20%, 50%);
}
#jogo #hangman img {
    height: 100%;
    animation: pop 250ms ease-in-out;
}
#jogo #espaco_letras {
    font-family: monospace;
    height: 7.5%;
    display: flex;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
#jogo #espaco_letras > div {
    display: inline-block;
    width: max-content;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--color-light);
}
#jogo #letras_usadas {
    height: 7.5%;
    display: flex;
    gap: 0.5rem;
    font-size: 2rem;
    align-items: end;
    justify-content: center;
    letter-spacing: 0.25rem;
    border-bottom: 2px solid var(--color-light);
    overflow-x: hidden;
}
#jogo #letras_usadas #tem {
    color: hsl(130, 90%, 35%);
}
#jogo #letras_usadas #nao_tem {
    color: hsl(10, 90%, 35%);
}

#jogo div.ganhou, #jogo div.perdeu {
    text-align: center;
    position: absolute;
    width: clamp(100px, 80%, 600px);
    left: 50%;
    top: 0;
    height: 130px;
    font-size: 1.5em;

    border-radius: 1rem;
    padding: 1rem;

    animation: fade_in 1500ms ease-in-out;
}
#jogo .ganhou h3, .perdeu h3 {
    font-size: 1.75em;
    padding: 1rem 0;
}
#jogo .ganhou {
    background: hsl(130, 90%, 35%);
}
#jogo .perdeu {
    background: hsl(10, 90%, 35%);
}
#jogo .pop {
    animation: pop 500ms ease-in-out;
}


#jogo #container_alfabeto {
    height: 45%;
    display: flex;
    flex: 1;
    gap: 0.25rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#jogo #container_alfabeto button {
    flex-shrink: 1;
    flex-basis: 2.5rem;
    flex-grow: 1;
    height: 3rem;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
}

@media (min-width: 405px) {
    #pagina_inicial h1 {
        font-size: 3.5rem;
    }
    #pagina_inicial header {
        height: 30dvh;
    }
    #pagina_inicial main {
        height: 70dvh;
    }
}

@media (min-height: 800px) {
    #pagina_inicial header {
        height: 30dvh;
    }
    #pagina_inicial main {
        height: 70dvh;
    }
    #jogo #container_alfabeto button {
        height: 4rem;
    }
}
